.container {
  margin: 8em 4em;
  width: 30em;
  height: 32em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid black;
}

.message_container {
  /* height: 10em;
  border: 1px solid black; */
}

.message_email {
  margin: 0.5em;
  font-size: 1.1em;
  font-weight: 700;
}

.message {
  margin: 0.5em;
  padding: 0.5em;
  height: 10em;
  border: 1px solid black;
  overflow-y: auto;
}
